html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #ff7e5f, #677d97);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px); /* Adjusted height to leave space for header */
    margin-top: 100px; /* Space for header */
}

.main-container {
    width: 60%; /* 60% of the viewport width */
    height: 100%; /* Occupy full height */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Additional styles for cards or content within main-container */
/* Your existing styles */

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: block; /* Ensure the anchor tag behaves like a block element */
    text-decoration: none; /* Remove underline from anchor tags */
    color: inherit; /* Inherit text color from parent */
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Example hover effect */
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    color: #666666;
}

.header {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333333;
}